@page "/"

<h2>Shopping List</h2>

<ul>
    <li>View/Edit Shopping List Items using the <a href="shoppinglist/displaylist">Shppping List Overview page</a></li>
    <li>Create a Shopping List Item <a href="shoppinglist/additem">Create Shopping List Item Page</a></li>
</ul>