@page "/"

<h2>Shopping List</h2>

<ul>
    <li>View/Edit Shopping Lists using the <a href="shoppinglist/overview">Shopping Lists Overview page</a></li>
    <li>View/Edit Shopping List Items using the <a href="shoppinglistitem/displaylist">Shopping List Items page</a></li>
    <li>Create a Shopping List using the <a href="shoppinglist/addlist">Create Shopping List Page</a></li>
    <li>Create a Shopping List Item using the <a href="shoppinglistitem/additem">Create Shopping List Item Page</a></li>
</ul>