@page "/shoppinglistitem/deleteitem/{ShoppingListItemID:int}"

@using ShoppingListBlazorWasm.Shared
@using ShoppingListBlazorWasm.Client.Data
@inject ShoppingListClient Client
@inject NavigationManager NavigationManager

<h3>Delete Shopping Item</h3>

<div class="container">
    <div class="row">
        <dl class="col-md-6 dl-horizontal">
            <dt>
                Name
            </dt>

            <dd>
                @shoppingListItem.ItemName
            </dd>

            <dt>
                Price
            </dt>

            <dd>
                @shoppingListItem.Price
            </dd>

            <dt>
                Qty
            </dt>

            <dd>
                @shoppingListItem.Quantity
            </dd>
        </dl>
    </div>

    <div class="form-actions no-color esh-link-list">
        <button class="btn esh-button esh-button-primary" @onclick="DeleteShoppingItem">
            Delete
        </button>
        |
        <a href="/shoppinglistitem/displaylist" class="esh-link-item">
            Back to Shopping List
        </a>
    </div>
</div>

@code {
    [Parameter]
    public int ShoppingListItemID { get; set; }

    protected ShoppingListItem shoppingListItem = new ShoppingListItem();

    protected override async Task OnInitializedAsync()
    {
        shoppingListItem = await Client.GetShoppingListItem(ShoppingListItemID);
    }

    private async Task DeleteShoppingItem()
    {
        if (shoppingListItem != null)
        {
            await Client.DeleteShoppingListItem(ShoppingListItemID);
            NavigationManager.NavigateTo("ShoppingListItem/DisplayList");
        }
    }
}