@page "/shoppinglistitem/edititem/{ShoppingListItemID:int}"

@using ShoppingListBlazorWasm.Shared
@using ShoppingListBlazorWasm.Client.Data
@inject ShoppingListClient Client
@inject NavigationManager NavigationManager

<h3>Edit Shopping List Item</h3>

<EditForm Model="shoppingListItem" OnValidSubmit="@EditShoppingItem" style="font-size: 18px">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label class="control-label col-md-2">Name</label>
        <div class="col-md-3">
            <InputText style="font-size: 18px" class="form-control" @bind-Value="shoppingListItem.ItemName" />
            <ValidationMessage For="(() => shoppingListItem.ItemName)" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Price</label>
        <div class="col-md-3">
            <InputNumber style="font-size: 18px" class="form-control" @bind-Value="shoppingListItem.Price" />
            <ValidationMessage For="(() => shoppingListItem.Price)" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Qty</label>
        <div class="col-md-3">
            <InputNumber style="font-size: 18px" class="form-control" @bind-Value="shoppingListItem.Quantity" />
            <ValidationMessage For="(() => shoppingListItem.Quantity)" />
        </div>
    </div>

    <button type="submit">Submit</button>
</EditForm>

<div class="form-actions no-color esh-link-list" style="padding-top: 20px; font-size: 18px;">
    <a href="@($"/shoppinglistitem/displayitem/{shoppingListItem.ShoppingListItemID}")" class="esh-link-item">
        Display Item
    </a>
    |
    <a href="@($"/shoppinglistitem/displaylist/{shoppingListItem.ShoppingListItemID}")" class="esh-link-item">
        Back to Shopping List
    </a>
</div>

@code {
    [Parameter]
    public int ShoppingListItemID { get; set; }

    private ShoppingListItem shoppingListItem = new ShoppingListItem();

    protected override async Task OnInitializedAsync()
    {
        shoppingListItem = await Client.GetShoppingListItem(ShoppingListItemID);
    }

    private async void EditShoppingItem()
    {
        if (shoppingListItem != null)
        {
            await Client.UpdateShoppingListItem(shoppingListItem);
            NavigationManager.NavigateTo($"ShoppingListItem/DisplayList/{shoppingListItem.ShoppingListItemID}");
        }
    }
}
