@page "/shoppinglist/displayitem/{ID:guid}"

@using ShoppingListBlazorWasm.Shared
@using ShoppingListBlazorWasm.Client.Data
@inject ShoppingListItemClient Client

<h3>Display Shpping Item</h3>

<div class="container">
    <div class="row">
        <dl class="col-md-6 dl-horizontal">
            <dt>
                Name
            </dt>

            <dd>
                @shoppingListItem.Name
            </dd>

            <dt>
                Price
            </dt>

            <dd>
                @shoppingListItem.Price
            </dd>

            <dt>
                Qty
            </dt>

            <dd>
                @shoppingListItem.Quantity
            </dd>
        </dl>
    </div>

    <div class="form-actions no-color esh-link-list">
        <a href="@($"/shoppinglist/edititem/{shoppingListItem.ID}")" class="esh-link-item">
            Edit Item
        </a>
        |
        <a href="/shoppinglist/displaylist" class="esh-link-item">
            Back to Overview
        </a>
    </div>
</div>

@code {
    [Parameter]
    public Guid ID { get; set; }

    protected ShoppingListItem shoppingListItem = new ShoppingListItem();

    protected override async Task OnInitializedAsync()
    {
        shoppingListItem = await Client.GetShoppingListItem(ID);
    }
}